/* ------------- Imports ----------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}


/* ------------- Styling ----------------- */

html {
    background: url('../assets/geometry2.png');
    background-repeat: repeat;
}

.flex-box {
    display: flex;
}

.flexbox--wrap {
    flex-wrap: wrap;
}

.flexbox--column {
    flex-direction: column;
}

.spacing {
    justify-content: space-between;
}

.spacing-center {
    justify-content: space-around;
}

.center-flex {
    justify-content: center;
}

.container-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.box-img {
    justify-content: center;
}

.img-logo {
    max-width: 500px;
    width: 100%;
}

header {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.input-info {
    margin: 2rem
}

.input {
    width: 49%;
    padding: 0.6rem;
    border-radius: 23px;
    background: #fafbfd;
    border: 1px solid;
}

.input-primary {
    color: #007392;
    border-color: #007392;
}

.input-secondary {
    color: #970008;
    border-color: #970008;
}

.second-info {
    width: 50%;
}

.more-info {
    align-items: flex-start;
}

.second-info span {
    font-size: x-small;
    text-align: center;
    min-width: 300px;
    width: 80%;
}

.btn,
.btn-inverse:hover {
    width: 30%;
    padding: 0.5rem;
    border-radius: 37px;
    background: #007191;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-inverse {
    background-color: #970008;
}

.btn-inverse:hover {
    background-color: #007191 !important;
}

.btn:hover {
    background-color: #970008;
}

.movie-name {
    color: #970008;
    margin-bottom: 1rem;
}

.movie-information {
    display: flex;
}

.movie-img {
    width: 19%;
    margin: 1%;
}

.movie-img #no-image {
    width: 100%;
}

.movie-text {
    width: 79%;
    margin: 2%;
}

.ano {
    font-size: larger;
}

.lista-categoria {
    display: inline;
    list-style: none;
}

.sinopse p {
    text-align: justify;
}

.trailer {
    margin: 2rem 1rem 2rem 0;
}

.categoria{
    margin-top: 1rem;
}

.atores{
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

#atores-mostrar{
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.atores li{
    background: #007191;
padding: 3px 1rem;
margin: 0rem 1rem;
border-radius: 13px;
text-align: center;
flex-direction: row;
align-self: center;
margin: 0.2rem;
color: white;
}


/* ----------- Animation -------------- */

.animate {
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes descer {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -4000px, 0);
        transform: translate3d(0, -4000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.descer {
    -webkit-animation-name: descer;
    animation-name: descer;
}

@keyframes esquerda {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-4000px, 0, 0);
        transform: translate3d(-4000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.esquerda {
    -webkit-animation-name: esquerda;
    animation-name: esquerda;
}


@keyframes direita {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(4000px, 0, 0);
        transform: translate3d(4000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.direita {
    -webkit-animation-name: direita;
    animation-name: direita;
}

@keyframes subir {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 4000px, 0);
        transform: translate3d(0, 4000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.subir {
    -webkit-animation-name: subir;
    animation-name: subir;
}